{{>deprecated~}}
{{>description~}}
{{>globally-registered~}}
{{>functional~}}
{{>summary~}}
{{>category~}}
{{>see~}}
{{>since~}}
{{>version~}}
{{>authors~}}
{{>inheritance~}}
{{>props~}}
{{>methods~}}
{{>events~}}
{{>slots~}}
{{>docs-blocks~}}
{{>content-and-deps~}}