{{!--
  data.requiresMd: contains sub components, see createComponent method
  See also: https://vue-styleguidist.github.io/docs/Documenting.html#composable-components
--}}
{{#if ./requiresMd ~}}
---
{{#each ./requiresMd ~}}
{{this.content}}
---
{{/each~}}
{{/if}}