{{!--
  data.docsBlocks can contains content of README file
  at the same level of component file
  or the <docs></docs> extracted content
  See also: https://vue-styleguidist.github.io/docs/Documenting.html#usage-examples-and-readme-files
--}}
{{#if ./docsBlocks ~}}
---
{{#each ./docsBlocks ~}}
{{this}}
---
{{/each~}}
{{/if}}