{{#if ./origin ~}}
{{#if ./origin.mixins ~}}
**Mixins**:

{{#each ./origin.mixins as | mixin |}}- {{{mixin.name}}}: `{{{mixin.path}}}`
{{/each}}

{{/if}}
{{#if ./origin.extends ~}}
**Extends**:

{{#each ./origin.extends as | ext |}}- {{{ext.name}}}: `{{{ext.path}}}`
{{/each}}

{{/if~}}
{{/if}}