{{#if ./methods ~}}
{{#or ./isSubComponent ./hasSubComponent ~}}
{{>heading-indent depth=3 ~}}
{{else~}}
{{>heading-indent depth=2 ~}}
{{/or}}Methods

{{#each ./methods as | method |~}}
{{#if ./isSubComponent ~}}
{{>heading-indent depth=4 ~}}
{{else~}}
{{>heading-indent depth=3 ~}}
{{/if}}{{>sig-name}}
{{>deprecated ~}}
{{#if method.description ~}}
{{{method.description}}}

{{/if}}
{{#if method.returns ~}}
{{>returns}}

{{/if}}
{{>summary~}}
{{>category~}}
{{>see~}}
{{>since~}}
{{>version~}}
{{>authors~}}
{{#if method.params ~}}
**Params**:

{{>params-table params=method.params}}
{{/if}}
{{/each}}
{{/if}}