{{#if returns}}
**Returns**: {{#if returns.type~}}
{{#if returns.type.names}}{{>linked-type-list types=returns.type.names delimiter=" \| " ~}}{{/if}}
{{~#if returns.description}} - {{{inlineLinks returns.description}}}{{/if~}}
{{else~}}
{{{inlineLinks returns.description}~}}
{{/if}}

{{/if}}