{{#or isSubComponent hasSubComponent ~}}
{{>heading-indent depth=2 ~}}
{{else~}}
{{>heading-indent depth=1 ~}}
{{/or~}}
{{#if tags.deprecated ~}}
~~{{displayName}}~~
{{~else~}}
{{displayName}}
{{/if}}