<template>
  <button class="button">
    <!--
      @slot Default slot
      @binding {Function} defaultClickHandler - The default click handler
    -->
    <slot :defaultClickHandler="defaultClickHandler"></slot>
  </button>
</template>

<script>
import ExampleMixin from '../mixins/ExampleMixin'
/**
 * Button component
 * @global
 * @category Common component
 * @deprecated Deprecated since the last version
 * @version 1.0.0
 * @author Hervé Perchec <herve.perchec@gmail.com>
 * @testTag custom.link.com
 * @example
 * import Button from './Button'
 * console.log('Button component : ', Button)
 */
export default {
  name: 'Button',
  mixins: [
    ExampleMixin
  ],
  props: {
    /**
     * The button size. Can be 'small', 'medium' or 'large'
     * @values small, medium, large
     * @category Awesome category
     */
    size: {
      type: String,
      default: 'small'
    }
  },
  methods: {
    /**
     * Default click handler. This method is not documented
     */
    defaultClickHandler (evt) {
      evt.preventDefault()
      console.log('Button clicked')
      /**
       * Custom click event
       * @event custom-click
       * @property {Object} payload - The payload
       * @property {Object} options - The options
       */
      this.$emit('custom-click', {
        data: {}
      }, {
        option1: 'option1',
        option2: true
      })
    },
    /**
     * Deprecated public documented method
     * @deprecated
     * @public
     * @category Public methods
     * @testTag test tag description
     * @see examplelink.html
     * @param {String} param1 - First parameter
     * @param {...*} args - Rest of arguments
     * @returns {void}
     */
    deprecatedMethod (param1, ...args) {
      // Nothing...
    }
  }
}
</script>
