<template>
  <div id="app">
    <h1>Hello World!</h1>
    <Button size="medium">Click me</Button>
  </div>
</template>

<script>
import Button from './components/Button'

/**
 * App root component
 */
export default {
  name: 'App',
  components: {
    Button
  }
}
</script>
